<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project of webpack4 and vue in mobile</title>
</head>
<body>
  
  <div id="app"></div>

  <% if (htmlWebpackPlugin.options.var && htmlWebpackPlugin.options.var.isProd){ %>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.runtime.min.js"></script>
  <% } else { %>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <% } %>
  <script src="https://cdn.bootcss.com/vue-router/3.0.7/vue-router.min.js"></script>
    
</body>
</html>