<div class="ui-container">
  <style type="text/css">
    .container {}
  </style>
  
  <img src="/static/images/logo.jpg" class="logo">
  
  <div class="box">
    <div>名字：<%= name %></div>
    <div>年龄：<%= age %></div>
    <div>
      技能：
      <% for (var i = 0; i < skill.length; i += 1){ %>
        <%= skill[i] %>
      <% } %>
    </div>
  </div>
</div>